// Black
$c-black: #000000;

// White
$c-white: #ffffff;
$c-snow-white: #f9fafb;

// Mist
$c-lavender-mist: #eef2ff;

// Gray
$c-cloud-gray: #f3f4f6;
$c-cool-gray: #9ca3af;
$c-slate-gray: #6b7280;
$c-granite-gray: #4b5563;
$c-charcoal-gray: #374151;
$c-midnight-gray: #1f2937;

// Beige
$c-peach-cream: #ffedd5;

// Pink
$c-blush-pink: #fee2e2;

// Red
$c-coral-red: #ef4444;
$c-crimson-red: #dc2626;

// Orange
$c-orange-flame: #f97316;
$c-burnt-orange: #c2410c;

// Green
$c-spring-green: #22c55e;
$c-emerald-green: #10b981;
$c-jade-green: #059669;
$c-forest-green: #047857;

// Mint
$c-mint-cream: #ecfdf5;
$c-mint-pastel: #d1fae5;

// Blue
$c-ios-blue: #007aff;
$c-deep-navy: #162542;

// Body
$c-body-bg: $c-snow-white;

// Header
$c-header-top-bg: $c-cloud-gray;
$c-header-middle-bg: $c-emerald-green;
$c-header-bottom-bg: $c-white;
